---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Apr 3 2006')}
>
    <p>I am Ender, a remote software development engineer currently living in Chengdu(China)</p>
    
    <p>Currently, I work remotely as a front-end development intern at an artificial intelligence startup in San Francisco.</p>
    
    <p>I love music, especially experimental rock. I also enjoy fashion, reading, and open source.</p>
    
    <p>I have my own unique understanding of food, and I'm passionate about finding undiscovered delicacies in every city (but I'm very picky about food, which is contradictory).</p>
    
    <p>I believe in the infinite possibilities of life, and I have many goals in life. In the technology field, my goal is to become an open-source star.</p>
    
    <p>This website is just for recording some of my thoughts; it might be called a blog.
        I would be honored if it could offer you any help or inspiration.
    </p>
    
    <p>If you want grab a coffee of me, anytime!</p>
    
</Layout>

