---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Jan 11 2026')}
>
    <p>I am Ender, a remote software development engineer currently living in Chengdu(China)</p>
    
    <p>Currently, I work remotely as a front-end development intern at an artificial intelligence startup in San Francisco.</p>
    
    <p>I believe in the infinite possibilities of life, and I have many goals in life. In the technology field, my goal is to become an open-source star.</p>
    
    <p>This website is just for recording some of my thoughts; it might be called a blog.
        I would be honored if it could offer you any help or inspiration.
    </p>
    
</Layout>
