---
import Header from "../components/Header.astro";
import { index_img } from "../config/index_img";
import "../styles/global.css";
import "../styles/index.css";
---

<Header />

{
    index_img.map((item) => {
        return (
            <div class="content">
                <img src={item.img} alt={item.title} />
                <div class="text">
                    <span class="title">{item.title}</span>
                    <span class="des">{item.description}</span>
                </div>
            </div>
        );
    })
}

<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vh;
        height: 30vh;
        margin: 10px;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .title {
        
    }
    
    .des {
        font-style: italic;
        color: #CCCCCC;
        font-size: 15px;
    }

    img {
    }
</style>
